html
{
    background-color: #87CEFA;
    font-size: 60px;
    text-align: center;
    letter-spacing: 0,5mm;
    font-family: 'Times New Roman', Times, serif;
    line-height: 2cm; 
    text-shadow: 4px 4px 2px #B0C4DE;
    padding: 20px;
    
}